.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
.material-icons{
    font-size: 25px;
    color:red;
    padding:10px;
}
.flex-container{
    display:flex;
}
.jpt{
    color:green;
}
